<style>
    .form-control{
        width:50vw!important;
    }
</style>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit profile</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form action="/Profile/Edit/" method="post">
            @Html.HttpMethodOverride(HttpVerbs.Put)
            <input type="hidden" name="UserId" value="@ViewBag.Profile.UserId" />
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="FirstName" value="@ViewBag.Profile.ApplicationUser.FirstName" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="LastName" value="@ViewBag.Profile.ApplicationUser.LastName" />   
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="Description" rows="4">@ViewBag.Profile.Description</textarea>
            </div>
            <div class="form-group">
                <label>Birthday</label>
                <input type="date" class="form-control" name="Birthday"  value="@ViewBag.Profile.Birthday"/>
            </div>
            <div class="form-group">
                <label>Work</label>
                <input type="text" class="form-control" name="Work" value="@ViewBag.Profile.Work" />
            </div>
            <div class="form-group">
                <label>Last School</label>
                <input type="text" class="form-control" name="School" value="@ViewBag.Profile.School" />
            </div>
            <div class="form-group">
                <button class="btn btn-success">Save</button>
            </div>
        </form>
        <div class="btn-group">
            @if (!ViewBag.Profile.IsPrivate)
            {
                <a href="/Profile/SetPrivate/@ViewBag.Profile.UserId"><button class="btn btn-primary">Set Private</button></a>
            } else
            {
                <a href="/Profile/SetPublic/@ViewBag.Profile.UserId"><button class="btn btn-primary">Set Public</button></a>
            }
           <form style="float:right" action="/Profile/Delete/@ViewBag.Profile.UserId" method="post">@Html.HttpMethodOverride(HttpVerbs.Delete)<button class="btn btn-danger">Delete</button></form>
        </div>      
         
    </div>
</div>

